* {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
position: relative;
  background-color: rgb(30, 27, 27);
  overflow: hidden;
  -webkit-overflow: hidden;
  -moz-overflow: hidden;
}
.marquee {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300vw;
  transform: translate(-50% , -50%) rotate(30deg);
  overflow: hidden;
  display: flex;
  gap: 2rem;
  background-color: #e74c3c;
  padding: 10px 0px;
}
.two {
  top: 65%;
}
.three {
  top: 80%;
}
.four {
  top: 35%;
}
.five {
  top: 20%;
}
.black {
  background-color: black;
  color: white;
}
.white {
  background-color: white;
  color: black;
}

.marquee-content {
  min-width: 100%;
  gap: 2rem;
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  animation: scroll-left 20s linear infinite;
  font-size: 70px;
}
.reversed {
  animation: scroll-left 20s linear infinite reverse;

}
@keyframes scroll-left {
  100% {
    transform: translateX(calc(-100% - 2rem));
  }
}