
:root {
    --main-transtion:.3s;
}
/* components */

/* components */
/* rules */
.bg-blue {
    background-color: blue;
}
.bg-red {
    background-color: red;
}
.bg-main {
    background-color: #f1f5f9;
}
.bg-white {
    background-color: #fff;
}

/* position */
.position-relative { 
    position: relative;
}
.position-stikey-50px {
    position: sticky;
    top: 30px;
}
.position-fixed {
    position: fixed;
}

.position-center-Y {
    top: 50%;
    transform: translateY(-50%);
}
.position-center-X {
    left: 50%;
    transform: translateX(-50%);
}
/* position */
/* padding */
.p-10px {
    padding: 10px;
}
.p-5px {
    padding: 5px;
}
.p-vartical-10 {
    padding-top:10px ;
    padding-bottom:10px ;

}
.p-vartical-15 {
    padding-top:15px ;
    padding-bottom:15px ;
}
.p-inline-10px {
    padding-inline: 10px;
}
.p-inline-15px {
    padding-inline: 15px;
}
.p-inline-20px {
    padding-inline: 20px;
}

/* padding */
/* margin */
.m-vartical-10 {
    margin-top:10px ;
    margin-bottom: 10px;
}
.m-vartical-15 {
    margin-top:15px ;
    margin-bottom: 15px;
}
.m-vartical-5 {
    margin-top:5px ;
    margin-bottom: 5px;
}
/* margin */

/* display */
.block {
    display: block;
}
.flex {
    display: flex;
}
.justifiy-spacebetween {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}

/* display */
/* gap */
.gap-5px {
    gap: 5px;
}
.gap-10px {
    gap: 10px;
}
.gap-15px {
    gap: 15px;
}

.gap-20px {
    gap: 20px;
}
.gap-35px {
    gap: 35px;
}
/* gap */
/* Shadow */
.shadow {
    box-shadow: 5px 0px 5px rgba(187, 169, 169, 0.38);

}
/* Shadow */
/* text */
.text-align-center {
    text-align: center;
}
.text-transform-uppercase {
    text-transform: uppercase;
}
/* text */
/* width */
.width-10px {
    width: 10px;
}
.width-15px {
    width: 15px;
}
.width-20px {
    width: 20px;
}
.width-32px {
    width: 32px;
}
.width-35px {
    width: 35px;
}
.width-40px {
    width: 40px;
}
.width-60px {
    width: 60px;
}
/* width */
/* height */
.height-5vh{
    height: 5vh;
}
.height-10vh{
    height: 10vh;
}
.min-height-65px {
    min-height: 65px;
}
.height-15vh{
    height: 15vh;
}
/* height */
/* border */
.border-radius-circle {
    border-radius: 50%;
}
.border-radius-10 {
    border-radius: 10px;
}
.border-color-gray {
    border: 1px solid #98989882;
}
.border-none {
    border: none;
}

/* border */



.color-black {
    color: black;
}
.color-gray-main {
    color: #888888;
}
.color-gray-alt {
    color: #989898;
}
.font-size-14 {
    font-size: 14px;
}
.font-size-18 {
    font-size: 18px;
}
.font-size-22 {
    font-size: 22px;
}
.font-weight-400 {
    font-weight: 400;

}

/* rules */
@media (width <= 768px) {
    .hide-mobile {
        display: none;
    }
}

