
:root {
    --main-transtion:.3s;
}
/* components */
.btncheck {
    display: block;
    margin: 15px 5px;
    position: relative;
    min-width: 70px;
    padding: 15px 20px;
    border-radius: 15px;
    background-color: #fea29b;
  }

  .btncheck>span {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: 0.3s;
  }

  .btncheck>span>span:first-child {
    position: absolute;
    display: block;
    height: 1px;
    background-color: #f44336;
    width: 13px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: .1s;

  }

  .btncheck>span>span:last-child {
    position: absolute;
    display: block;
    height: 1px;
    background-color: #f44336;
    width: 13px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: .1s;
  }
  
  input[type="checkbox"]:checked+label {
    background-color: #0077ffb9;
  }

  input[type="checkbox"]:checked+label>span {
    /* transform: translate(-40px, -50%);
    top: 50%; */
    transition: 0.3s;
    right: 45px;
  }

  input[type="checkbox"]:checked+label>span span:first-child {
    width: 4px;
  transform: translate(-5.6px, 2.9px) rotate(45deg);
  background-color: #0075ff;

  }

  input[type="checkbox"]:checked+label>span span:last-child {
    transform: translate(-4px, 1px) rotate(-40deg);
    width: 10px;
    background-color: #0075ff;

  }

  input[type="checkbox"] {
    position: absolute;
    right: 100000px;
    display: none !important;
  }

  .btncheck2 {
    display: block;
    margin: 15px 5px;
    position: relative;
    min-width: 110px;
    padding: 12px 20px;
    border-radius: 15px;
    background-color: #fea29b;
  }
  .btncheck2>span {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    height: 15px;
    width: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: 0.5s;
  }

  .btncheck2>span>span:first-child {
    position: absolute;
    display: block;
    height: 1px;
    background-color: #f44336;
    width: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: .1s;

  }

  .btncheck2>span>span:last-child {
    position: absolute;
    display: block;
    height: 1px;
    background-color: #f44336;
    width: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: .1s;
  }

  input[type="checkbox"].checkbox2:checked+label {
    background-color: #0077ffb9;
  }

  input[type="checkbox"].checkbox2:checked+label>span {
    transform: translate(-85px, -50%);
    top: 50%;
  }

  input[type="checkbox"].checkbox2:checked+label>span span:first-child {
    width: 4px;
    transform: translate(-5px, 1px) rotate(45deg);
    background-color: #0075ff;

  }

  input[type="checkbox"].checkbox2:checked+label>span span:last-child {
    transform: translate(-3px, 0px) rotate(-40deg);
    width: 8px;
    background-color: #0075ff;

  }

  #check2 {
    position: absolute;
    right: 100000px;
  }
  
  input[type="checkbox"] {
    position: absolute;
    right: 100000px;
    display: none;
  }
  .check-label {
    position: relative;
    margin: 10px 0px;
    padding-left: 30px;
    font-size: 16px;
    width: fit-content;
    cursor: pointer;
  }
  .check-label::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border: 2px solid #888;
    transition: 0.3s;
    left: 0px;
    border-radius: 5px;
    overflow: hidden;
  }
  .check-label:hover::after {
    border: 2px solid #0d69d5;
  }
  .check-label::before {
    content: "\f00c";
    background-color: #0075ff;
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(0);
    height: 19px;
    width: 19px;
    left: 0px;
    border-radius: 5px;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    z-index: 1;
  }
  input[type="checkbox"]:checked + .check-label::before {
    transform: translateY(-50%) scale(1) rotate(-360deg);
  
  }
  input[type="radio"] {
    display: none;
    position: absolute;
    left: -9999px;
  }
  .radio-cirle {
    display: block;
    padding-left: 30px;
    position: relative;
    cursor: pointer;

  }
  .cirle {
    content: "";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    height: 22px;
    width: 22px;
    border-radius: 50%;
    border: 2px solid #888;
    background-color: #fff;
  }
  .fill{
    height: 0px;
    width: 0px;
    transition: 0.2s linear ;
    border-radius: 50%;
    background-color: #0075ff;
  }
  input[type="radio"]:checked + label .fill {
    height: 12px;
    width: 12px;
  }
  .rad-box{
    padding: 10px;
    display: inline-block;
    background-color: white;
    height: 90px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #eee;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    margin: 0px auto;
  }
  .rad-box-content {
    width: fit-content;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 10px;
  }
  .rad-box-content i {
    display: block;
  }
  input[type="radio"]:checked + .rad-box {
    border: 2px solid #0075ff;
  }

  .box-wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
  }
  @media (width <= 768px) {
    .box-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
    }
  }
/* components */
/* rules */
.bg-blue {
    background-color: blue;
}
.bg-red {
    background-color: red;
}
.bg-main {
    background-color: #f1f5f9 !important;
}
.bg-white {
    background-color: #fff;
}
.bg-gray {
    background-color: #eee !important;
}
.bg-main2 {
    background-color: #f6f6f6;
}
/* position */
.position-relative { 
    position: relative;
}
.position-stikey-50px {
    position: sticky;
    top: 80px;
}
@media (max-width: 768px) { 
    .position-stikey-50px {
        position: sticky;
        top: 195px;
    }
}
.position-fixed {
    position: fixed;
}

.position-center-Y {
    top: 50%;
    transform: translateY(-50%);
}
.position-center-X {
    left: 50%;
    transform: translateX(-50%);
}
/* position */
/* padding */
.p-10px {
    padding: 10px;
}
.p-5px {
    padding: 5px;
}
.p-vartical-10 {
    padding-top:10px ;
    padding-bottom:10px ;

}
.p-vartical-15 {
    padding-top:15px ;
    padding-bottom:15px ;
}
.p-vartical-20 {
    padding-top:20px ;
    padding-bottom:20px ;
}
.p-inline-10px {
    padding-inline: 10px;
}
.p-inline-15px {
    padding-inline: 15px;
}
.p-inline-20px {
    padding-inline: 20px;
}
.p-inline-30px {
    padding-inline: 30px;
}
.p-bottom-none {
    padding-bottom: 0px;
}
.p-bottom-15px {
    padding-bottom: 15px;
}
.p-bottom-10px {
    padding-bottom: 10px;
}
/* padding */
/* margin */
.m-vartical-10 {
    margin-top:10px ;
    margin-bottom: 10px;
}
.m-vartical-15 {
    margin-top:15px ;
    margin-bottom: 15px;
}
.m-vartical-20 {
    margin-top:20px ;
    margin-bottom: 20px;
}
.m-vartical-5 {
    margin-top:5px ;
    margin-bottom: 5px;
}
.mg-bottom-10px {
    margin-bottom: 10px;
}
.mg-bottom-5px {
    margin-bottom: 5px;
}
.mg-bottom-15px {
    margin-bottom: 15px;
}
/* margin */

/* display */
.block {
    display: block;
}
.flex {
    display: flex;
}
.flex-1 {
    flex:1;
}
.flex-colom{
    display: flex;
    flex-direction: column;
}
.justifiy-center {
    justify-content: center;
}
.grid {
    display: grid;
}
.responsive-grid-4columns {
    grid-template-columns: repeat(auto-fit , minmax(250px, 1fr));
}
.responsive-grid-3columns {
    grid-template-columns: repeat(auto-fit , minmax(300px, 1fr));
}
.responsive-grid-2columns {
    grid-template-columns: repeat(2,1fr);
}
.justifiy-spacebetween {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}

/* display */
/* gap */
.gap-5px {
    gap: 5px;
}
.gap-10px {
    gap: 10px;
}
.gap-15px {
    gap: 15px;
}

.gap-20px {
    gap: 20px;
}
.gap-35px {
    gap: 35px;
}
/* gap */
/* Shadow */
.shadow {
    box-shadow: 5px 0px 5px rgba(187, 169, 169, 0.38);

}
/* Shadow */
/* text */
.text-align-center {
    text-align: center;
}
.text-transform-uppercase {
    text-transform: uppercase;
}
/* text */
/* width */
.width-10px {
    width: 10px;
}
.width-15px {
    width: 15px;
}
.width-20px {
    width: 20px;
}
.width-32px {
    width: 32px;
}
.width-35px {
    width: 35px;
}
.width-40px {
    width: 40px;
}
.width-50px {
    width: 50px;
}
.width-60px {
    width: 60px;
}
.widthfull {
    width: 100%;
}
/* width */
/* height */
.height-5vh{
    height: 5vh;
}
.height-10vh{
    height: 10vh;
}
.min-height-65px {
    min-height: 65px;
}
.height-15vh{
    height: 15vh;
}
/* height */
/* border */
.border-radius-circle {
    border-radius: 50%;
}
.border-radius-10 {
    border-radius: 10px;
}
.border-radius-5 {
    border-radius: 5px;
}
.border-color-gray {
    border: 1px solid #98989882;
}
.border-right-gray {
    border-right: 1px solid #98989882;
}
.border-none {
    border: none;
}
.border-bottom-gray {
    border-bottom: 1px solid #8787873f;
}
.border-bottom-eee {
    border-bottom: 1px solid #eee;
}
/* border */
.line-height-1 {
    line-height: 1.5;
}


.color-black {
    color: black !important;
}
.color-gray-main {
    color: #888888!important;
}
.color-gray-alt {
    color: #989898!important;
}
.color-eee {
    color: #eee !important;
}
.font-size-14 {
    font-size: 14px;
}
.font-size-12 {
    font-size: 12px;
}
.font-size-13 {
    font-size: 13px;
}
.font-size-14 {
    font-size: 14px;
}
.font-size-15 {
    font-size: 15px;
}
.font-size-16 {
    font-size: 16px !important;
}
.font-size-16 {
    font-size: 17px ;
}
.font-size-18 {
    font-size: 18px;
}
.font-size-22 {
    font-size: 22px;
}
.font-weight-400 {
    font-weight: 400;

}
.font-bold {
    font-weight: bold;
}
.text-transform-none {
    text-transform: none;
}


/* rules */
@media (width <= 768px) {
    .hide-mobile {
        display: none;
    }
}
.p-bottom-0 {
    padding-bottom: 0px !important;
}
@media (width < 768px) {
    .flex-colom-mob {
        flex-direction: column;
    }
    .justify-conetnt-center-mob{
        justify-content: center;
    }
    .align-items-flex-start-mob{
        align-items: flex-start !important;
    }
    /* .text-align-center-mob {
        text-align: center;
    } */
    .width-full-mob {
        
    }
    .trash-mob {
        background-color: #fd120164;
        border-radius: 10px;
        width: 30%;
        padding: 8px;
        color:#f44336 ;
        align-self: flex-end;
        text-align: center;
        margin-top: 10px;
    }
    i.trash-mob.color-gray-alt {
        color: #888888;
        background-color: #9898989f;
    }
}
@media (width < 444px) {


}



.resize-none {
    resize: none;
}
.overflow-hidden {
    overflow: hidden;
}
/* .wrapper-fit {
    width: fit-content;
} */