
:root {
    --main-transtion:.3s;
}
/* components */

/* components */
/* rules */
.bg-blue {
    background-color: blue;
}
.bg-red {
    background-color: red;
}
.bg-main {
    background-color: #f1f5f9;
}
.bg-white {
    background-color: #fff;
}
.bg-gray {
    background-color: #eee;
}

/* position */
.position-relative { 
    position: relative;
}
.position-stikey-50px {
    position: sticky;
    top: 80px;
}
@media (max-width: 768px) { 
    .position-stikey-50px {
        position: sticky;
        top: 195px;
    }
}
.position-fixed {
    position: fixed;
}

.position-center-Y {
    top: 50%;
    transform: translateY(-50%);
}
.position-center-X {
    left: 50%;
    transform: translateX(-50%);
}
/* position */
/* padding */
.p-10px {
    padding: 10px;
}
.p-5px {
    padding: 5px;
}
.p-vartical-10 {
    padding-top:10px ;
    padding-bottom:10px ;

}
.p-vartical-15 {
    padding-top:15px ;
    padding-bottom:15px ;
}
.p-vartical-20 {
    padding-top:20px ;
    padding-bottom:20px ;
}
.p-inline-10px {
    padding-inline: 10px;
}
.p-inline-15px {
    padding-inline: 15px;
}
.p-inline-20px {
    padding-inline: 20px;
}
.p-inline-30px {
    padding-inline: 30px;
}
.p-bottom-none {
    padding-bottom: 0px;
}
/* padding */
/* margin */
.m-vartical-10 {
    margin-top:10px ;
    margin-bottom: 10px;
}
.m-vartical-15 {
    margin-top:15px ;
    margin-bottom: 15px;
}
.m-vartical-20 {
    margin-top:20px ;
    margin-bottom: 20px;
}
.m-vartical-5 {
    margin-top:5px ;
    margin-bottom: 5px;
}
.mg-bottom-10px {
    margin-bottom: 10px;
}
.mg-bottom-15px {
    margin-bottom: 15px;
}
/* margin */

/* display */
.block {
    display: block;
}
.flex {
    display: flex;
}
.flex-colom{
    display: flex;
    flex-direction: column;
}
.grid {
    display: grid;
}
.responsive-grid-4columns {
    grid-template-columns: repeat(auto-fit , minmax(250px, 1fr));
}
.responsive-grid-3columns {
    grid-template-columns: repeat(auto-fit , minmax(300px, 1fr));
}
.responsive-grid-2columns {
    grid-template-columns: repeat(2,1fr);
}
.justifiy-spacebetween {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}

/* display */
/* gap */
.gap-5px {
    gap: 5px;
}
.gap-10px {
    gap: 10px;
}
.gap-15px {
    gap: 15px;
}

.gap-20px {
    gap: 20px;
}
.gap-35px {
    gap: 35px;
}
/* gap */
/* Shadow */
.shadow {
    box-shadow: 5px 0px 5px rgba(187, 169, 169, 0.38);

}
/* Shadow */
/* text */
.text-align-center {
    text-align: center;
}
.text-transform-uppercase {
    text-transform: uppercase;
}
/* text */
/* width */
.width-10px {
    width: 10px;
}
.width-15px {
    width: 15px;
}
.width-20px {
    width: 20px;
}
.width-32px {
    width: 32px;
}
.width-35px {
    width: 35px;
}
.width-40px {
    width: 40px;
}
.width-50px {
    width: 50px;
}
.width-60px {
    width: 60px;
}
/* width */
/* height */
.height-5vh{
    height: 5vh;
}
.height-10vh{
    height: 10vh;
}
.min-height-65px {
    min-height: 65px;
}
.height-15vh{
    height: 15vh;
}
/* height */
/* border */
.border-radius-circle {
    border-radius: 50%;
}
.border-radius-10 {
    border-radius: 10px;
}
.border-radius-5 {
    border-radius: 5px;
}
.border-color-gray {
    border: 1px solid #98989882;
}
.border-none {
    border: none;
}
.border-bottom-gray {
    border-bottom: 1px solid #8787873f;
}
/* border */
.line-height-1 {
    line-height: 1.5;
}


.color-black {
    color: black;
}
.color-gray-main {
    color: #888888;
}
.color-gray-alt {
    color: #989898;
}
.color-eee {
    color: #eee;
}
.font-size-14 {
    font-size: 14px;
}
.font-size-12 {
    font-size: 12px;
}
.font-size-13 {
    font-size: 13px;
}
.font-size-14 {
    font-size: 14px;
}
.font-size-15 {
    font-size: 15px;
}
.font-size-16 {
    font-size: 16px;
}
.font-size-16 {
    font-size: 17px;
}
.font-size-18 {
    font-size: 18px;
}
.font-size-22 {
    font-size: 22px;
}
.font-weight-400 {
    font-weight: 400;

}
.font-bold {
    font-weight: bold;
}
.text-transform-none {
    text-transform: none;
}


/* rules */
@media (width <= 768px) {
    .hide-mobile {
        display: none;
    }
}
.p-bottom-0 {
    padding-bottom: 0px !important;
}
@media (width < 768px) {
    .flex-colom-mob {
        flex-direction: column;
    }
    .justify-conetnt-center-mob{
        justify-content: center;
    }
    .align-items-flex-start-mob{
        align-items: flex-start !important;
    }
    /* .text-align-center-mob {
        text-align: center;
    } */
    .width-full-mob {
        
    }
    .trash-mob {
        background-color: #fd120164;
        border-radius: 10px;
        width: 30%;
        padding: 8px;
        color:#f44336 ;
        align-self: flex-end;
        text-align: center;
        margin-top: 10px;
    }
    i.trash-mob.color-gray-alt {
        color: #888888;
        background-color: #9898989f;
    }
}
@media (width < 444px) {


}



