@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400&family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-transform: capitalize;
  min-width: 0px;
  transition: 0.5s;
}
/* ::selection {
  color: tr;
} */
* {
  outline: none;
}
body {
  font-family: 'Roboto';
}

img {
  max-width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: cornflowerblue;
}
.container {
  padding: 0px 10px;
  margin: 0px auto;
}
.page {
  display: flex;
  min-height: 100vh;
}
.aside {
  position: relative;
  flex-basis: 16%;
  box-shadow: 0px 0px 10px #ddd;
  padding: 0px 20px;
  min-width: 200px;
  z-index: 999;
}
.aside li a {
  align-items: center;
}
.aside .active-li {
  background-color: #f6f6f6;
}
.content {
  flex-basis:84%;
}
.aside-title {
  text-align: center;
  margin: 15px 0px 40px;
  position: relative;
  padding: 10px 0px 20px;
}
.aside-title::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: black;
  bottom: -1px;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.aside-title::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  outline: 4px solid white; 
  border-radius: 50%; 
  bottom: -5px;
  z-index: 1;
}
.aside li {
  border-radius: 8px;
  transition: var(--main-transtion);
}
.aside li:hover {
  background-color: #f6f6f6;
} 
.profile-icon span {
  position: relative;
}
.profile-icon span::before {
  content: "";
  position: absolute;
  background-color: #f44336;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  top: -6px;
  right: -6px;

}
header input[type="search"] {
  width: 115px;
  transition: 0.3s;
}
header input[type="search"]:focus {
  width: 160px;
}
header .profile-icon i:hover + ul {
  visibility: visible;
  opacity: 1;
  top: 45px;
  transition: 0.4s;

}
header .profile-icon i + ul:hover {
  visibility: visible;
  opacity: 1;
  top: 45px;
  transition: 0.4s;
}
header .profile-icon ul {
  /* display: none; */
  visibility: hidden;
  position: absolute;
  top: 55px;
  right: -6px;
  width: 155px;
  background: #e8e8e8;
  border-radius: 10px;
  z-index: 1;
  opacity: 0;
  min-width:45px !important;
}
header .profile-icon ul li {
  padding: 10px 5px;
  font-size: 13px;
}
header .profile-icon ul li:not(:last-child) {
  border-bottom: 1px solid #ddd;

}
header .profile-icon ul li:last-child {
  margin: 0px;
}
header .profile-icon ul li:first-child {
  margin-top: 0px;
}
header .profile-icon ul::before {
  content: "";
  position: absolute;
  border: 12px solid;
  border-color: transparent transparent #e8e8e8 transparent;
  top: -22px;
  right: 4px;

}
.content > h2 {
  margin-top: 30px;
  margin-bottom: 40px;
  position: relative;
}
.content > h2:after {
 content: "";
 position: absolute;
 background-color: black;
 bottom: -10px;
 height: 3px;
 width: 50px;
 left: 20px;
}
.content > h2::before {
 content: "";
 position: absolute;
 background-color: white;
 bottom: -10px;
 height: 3px;
 width: 120px;
 left: 20px;
}
@media (min-width: 768px) { 
  .container {
  padding: 0px 20px;
  }
}
/* @media (min-width: 992px) { 
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) { 
  .container {
    width: 100%;
  }
} */
/* responsive media */

@media (height <= 560px) {

  .aside ul {
    overflow-y: scroll;
    max-height: calc(100vh - 200px);
  }
.aside ul::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-thumb {
  background: rgb(57, 57, 57);
}

}
@media (max-width: 767px) { 
  .aside {
      flex-basis: 5%;
      padding: 0px 5px;
      min-width: 60px;

  }
  .content {
      flex-basis: 95%;
  }
  .aside span {
      display: none;
  }
  .aside a {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .aside-title {
    font-size: 1.3rem;
    writing-mode: vertical-lr;
    position: absolute;
    top: -180px;
    transform: translateX(-50%);
    left: 50%;
    letter-spacing: 4;
  }
  
  .aside-title::after { 
      width: 30px;
  }
  .aside-title::before {
    display: none;
  }
  .aside ul {
      width: 80%;
      margin: 0px auto;
  }
  header .profile-icon {
    min-width: 66.25px;
  }
  header input[type="search"] {
    width: 110px;
    padding: initial;
  }
  header input[type="search"]:focus {
    width:140px ;
  }
}

/* responsive media */
.content .card {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  background-color: white;
  
}
.card:not(div.welcome) {
  padding: 20px;
}
.content .welcome .text img {
  max-width: 200px;

}
.content .welcome .text{
  position: relative;
  margin-bottom: 55px;
  min-height: 138px;

}
.content .welcome .text > img {
  position: absolute;
  max-width: 66px;
  top:calc(100% - 33px) ;
  left: 30px;
  border: 3px solid white;
  border-radius: 50%;
}
.info {
  border: 1px solid;
  border-color: #eee transparent #eee;
  display: flex;
  gap: 60px;
  margin-bottom: 15px;
  padding: 15px 0px;
  justify-content: center;
}
.info h2 {
  font-size: 17px;
  margin: 0px 0px 15px;
  text-align: center;
  font-weight: 500;
}
.info p {
  color:#989898;
  font-size: 15px;
}
.info .col {
  text-align: center;
}
.card-foot {
  display: flex;
}
.welcome .btn {
  margin-right: 15px;
}
.btn {
  margin-left: auto;
  color: white;
  background-color: #0075ff;
  border-radius: 5px;
  text-decoration: none;
  font-size: 15px;
  padding: 5px 10px;
}
@media (max-width: 400px) { 
  .wrapper {
    grid-template-columns: 1fr;
  }
  .welcome .text .col-2 img {
    display: none;

  }
  .content .welcome .text > img {
    left: 50%;
    transform: translateX(-50%);
  }
  .welcome .info {
    flex-direction: column;
    gap: 30px;
  }
  .page > .content > .wrapper{
    padding: 15px 10px;
  }
}

@media (min-width:400px) and (max-width:700px) {
  .page >.content > .wrapper {
    grid-template-columns: 1fr;
  }
  .welcome .text .col-2 img {
    display: none;

  }
  .welcome .info {
    flex-direction: column;
    gap: 30px;
  }
  .page > .content > .wrapper{
    padding: 15px 10px;
  }
  .content .welcome .text > img {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (width <370px) {
  header .form {
    position: relative;
  }
  .form:hover input[type="search"] , .form input[type="search"]:focus {
    /* display: block; */
    visibility: visible;
    opacity: 1;
    top: 50px;
    transition: 0.5s;

  }
  header input[type="search"] {
    /* display: none; */
    visibility: hidden;
    position: absolute;
    border: 2px solid #eee;
    padding: 10px 5px;
    border-radius: 10px;
    top: 45px;
    left: 0px;
    z-index: 10;
    opacity: 0;

  }
}
.content .input {
  display: block;
  width: 100%;
  border: none;
  resize: none;
  background-color:#eee ;
  border-radius: 8px;
  padding: 10px;
}
.content .input.input[type="text"] {
  margin-bottom: 20px;
}
.content .input::placeholder {
  color: #6c6c6c;
}
.col-1:not(.welcome .col-1) {
  margin-bottom: 15px;
}
.targets .content .target {
  align-items: center;
}

.targets .content .image {
  width: 70px;
  height: 70px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.targets .content .bars {
  flex: 1;
}
.targets .content .bars .bar {
  height: 3px;
  background-color: grey;
}
.targets .content .target span {
  position: relative;
  
  
}
.targets .content .target span::after {
  width: 19px;
  content: attr(data-progress);
  position: absolute;
  right: -12px;
  top: -29px;
  padding: 3px;
  font-size: 10px;
  background: red;
  border-radius: 5px;
  color: white;
}
.targets .content .target span::before {
  content: "";
  position: absolute;
  border: 5px solid;
  right: -4.5px;
  top: -12px;
  border-color: red transparent transparent transparent;
}

.targets .content .target:nth-child(1) .image {
  background-color: #cce3ff;
  color: #0075ff;
}
.targets .content .target:nth-child(1) span {
  background-color: #0075ff;
}
.targets .content .target:nth-child(1) div.bar {
  background-color: #cce3ff;
}
.targets .content .target:nth-child(1) span::after {
  background-color: #0075ff;
}
.targets .content .target:nth-child(1) span::before {
  border-color: #0075ff transparent transparent transparent;
}
.targets .content .target:nth-child(2) .image {
  background-color: #fdecce;
  color: #f59e0b;
}
.targets .content .target:nth-child(2) span {
  background-color: #f59e0b;
}
.targets .content .target:nth-child(2) div.bar {
  background-color: #fdecce;
}
.targets .content .target:nth-child(2) span::after {
  background-color: #f59e0b;
}
.targets .content .target:nth-child(2) span::before {
  border-color: #f59e0b transparent transparent transparent;
}
.targets .content .target:nth-child(3) .image {
  background-color: #d2f4df;
  color: #22c55e;
}
.targets .content .target:nth-child(3) span {
  background-color: #22c55e;
}
.targets .content .target:nth-child(3) div.bar {
  background-color: #d2f4df;
}
.targets .content .target:nth-child(3) span::after {
  background-color: #22c55e;
}
.targets .content .target:nth-child(3) span::before {
  border-color: #22c55e transparent transparent transparent;
}
.tickets .content {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
@media (width <= 475px) {
  .tickets .content {
    grid-template-columns: repeat(1,1fr);
  }
}
.tickets .box {
  border: 1px solid #ccc;
  border-radius: 10px;
}
.tickets .box:first-child i {
  color:#f59e0b ;
}
.tickets .box:nth-child(2) i {
  color:#0075ff ;
}
.tickets .box:nth-child(3) i {
  color:#22c55e ;
}
.tickets .box:nth-child(4) i {
  color:#f44336;
}
.news .box:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.niceborder:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.news .box img {
  max-width: 100px;
}
@media (width < 580px) {
  .news .flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .news .box {
    text-align: center;
  }
  .news .box img {
    max-width: 200px;
  }
}
@media  (max-width:1250px) {
  .responsive-grid-2columns {
    grid-template-columns: 1fr;
  }
}
.tasks i {
  transition: 0.4s;
}
.tasks i:not(.color-gray-alt):hover {
  color: #fd1201;
  background-color: #fb1404b5;
}
.files .box:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.card .box:last-child {
  padding-bottom: 0px;
}
.card.project-prog span {
  padding: 15px 0px;
  padding-left: 30px;
  margin-left: 13px;
  font-weight: 400;
  position: relative;
  z-index: 1;
}
.card.project-prog .content {
  position: relative;
}
.card.project-prog .content::after {
  position: absolute;
  content: "";
  height: 80%;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  left: 14px;
  background-color: #0075ff;
  
}
.card.project-prog span.active::before {
content: "";
position: absolute;
top: 50%;
transform: translateY(-50%);
width: 20px;
height: 20px;
left: -10px;
background-color: #0075ff;
border-radius: 50%;
outline: 2px solid  #0075ff;
border: 2px solid white;
}
.card.project-prog span.blink::before {
animation: 2s blink infinite;
}
.card.project-prog span::before {
content: "";
position: absolute;
top: 50%;
transform: translateY(-50%);
width: 20px;
height: 20px;
left: -10px;
background-color: white;
border-radius: 50%;
outline: 2px solid  #0075ff;
border: 2px solid white;
}
@keyframes blink {
  0% {
    background: #0075ff;
  }
  50% {
    background: white;
  }
  100% {
    background: #0075ff;
  }
}
.card.rem .content {
  margin-top: 20px;
}
.card.rem .box {
  padding: 3px 0px;
  margin: 15px 0px;
  padding-left: 15px;
  margin-left: 30px;
  position: relative;
  white-space: nowrap;
}

.card.rem .box:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  left: -30px;
}
.card.rem .box:first-child {
  border-left: 2px solid #0075ff;
}
.card.rem .box:first-child::after {
  background-color: #0075ff;
}
.card.rem .box:nth-child(2) {
  border-left: 2px solid #22c55e;
}
.card.rem .box:nth-child(2)::after {
  background-color: #22c55e;
}
.card.rem .box:nth-child(3) {
  border-left: 2px solid #f59e0b ;
}
.card.rem .box:nth-child(3)::after {
  background-color: #f59e0b;
}
.card.rem .box:last-child {
  border-left: 2px solid #f44336;
}
.card.rem .box:last-child::after {
  background-color: #f44336;;
}
@media (width <= 450px) {
  .card.rem .box p:first-child {
    font-size: 0.9em;
  }
  .card.rem .box p:last-child {
    font-size: 0.8em;
  }
}
@media (width <= 400px) {
  .card.rem .box p:first-child {
    font-size: 0.8em;
  }
  .card.rem .box p:last-child {
    font-size: 0.7em;
  }
}
@media (width <= 370px) {
  .card.rem .box p:first-child {
    font-size: 0.7em;
  }
  .card.rem .box p:last-child {
    font-size: 0.6em;
  }
}
@media (width <= 340px) {
  .card.rem .box p:first-child {
    font-size: 0.6em;
  }
  .card.rem .box p:last-child {
    font-size: 0.5em;
  }
}