@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400&family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-transform: capitalize;
  min-width: 0px;
}
* {
  outline: none;
}
body {
  font-family: 'Roboto';
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: cornflowerblue;
}
.container {
  padding: 0px 10px;
  margin: 0px auto;
}
.page {
  display: flex;
  min-height: 100vh;
}
.aside {
  position: relative;
  flex-basis: 16%;
  box-shadow: 0px 0px 10px #ddd;
  padding: 0px 20px;
  min-width: 200px;
  z-index: 999;
}
.aside li a {
  align-items: center;
}
.aside .active-li {
  background-color: #f6f6f6;
}
.content {
  flex-basis:84%;
}
.aside-title {
  text-align: center;
  margin: 15px 0px 40px;
  position: relative;
  padding: 10px 0px 20px;
}
.aside-title::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: black;
  bottom: -1px;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.aside-title::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  outline: 4px solid white; 
  border-radius: 50%; 
  bottom: -5px;
  z-index: 1;
}
.aside li {
  border-radius: 8px;
  transition: var(--main-transtion);
}
.aside li:hover {
  background-color: #f6f6f6;
} 
.profile-icon span {
  position: relative;
}
.profile-icon span::before {
  content: "";
  position: absolute;
  background-color: #f44336;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  top: -6px;
  right: -6px;

}
header input[type="search"] {
  width: 115px;
  transition: 0.3s;
}
header input[type="search"]:focus {
  width: 160px;
}
.content > h2 {
  margin-top: 30px;
  margin-bottom: 40px;
  position: relative;
}
.content > h2:after {
 content: "";
 position: absolute;
 background-color: black;
 bottom: -10px;
 height: 3px;
 width: 50px;
 left: 20px;
}
.content > h2::before {
 content: "";
 position: absolute;
 background-color: white;
 bottom: -10px;
 height: 3px;
 width: 120px;
 left: 20px;
}
@media (min-width: 768px) { 
  .container {
  padding: 0px 20px;
  }
}
/* @media (min-width: 992px) { 
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) { 
  .container {
    width: 100%;
  }
} */
/* responsive media */
@media (max-width: 767px) { 
  .aside {
      flex-basis: 5%;
      padding: 0px 5px;
      min-width: 60px;

  }
  .content {
      flex-basis: 95%;
  }
  .aside span {
      display: none;
  }
  .aside a {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .aside-title {
    font-size: 1.3rem;
    writing-mode: vertical-lr;
    position: absolute;
    top: -180px;
    transform: translateX(-50%);
    left: 50%;
    letter-spacing: 4;
  }
  @media (height <= 560px) {
    .aside .wrapper {
      position: static;
    }
    .aside {
      min-width: 60px;
    }
    .aside-title {
      position: relative;
      top: 10px;
    }
  }
  .aside-title::after { 
      width: 30px;
  }
  .aside-title::before {
    display: none;
  }
  .aside ul {
      width: 80%;
      margin: 0px auto;
  }
  header .profile-icon {
    min-width: 66.25px;
  }
  header input[type="search"] {
    width: 110px;
    padding: initial;
  }
  header input[type="search"]:focus {
    width:140px ;
  }
}

/* responsive media */
.content .card {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  background-color: white;
  
}
.content .welcome .text img {
  max-width: 200px;

}
.content .welcome .text{
  position: relative;
  margin-bottom: 55px;
  min-height: 138px;

}
.content .welcome .text > img {
  position: absolute;
  max-width: 66px;
  top:calc(100% - 33px) ;
  left: 30px;
  border: 3px solid white;
  border-radius: 50%;
}
.info {
  border: 1px solid;
  border-color: #eee transparent #eee;
  display: flex;
  gap: 60px;
  margin-bottom: 15px;
  padding: 15px 0px;
  justify-content: center;
}
.info h2 {
  font-size: 17px;
  margin: 0px 0px 15px;
  text-align: center;
  font-weight: 500;
}
.info p {
  color:#989898;
  font-size: 15px;
}
.info .col {
  text-align: center;
}
.card-foot {
  padding: 15 0px;
  display: flex;
}
.welcome .btn {
  margin-right: 15px;
}
.btn {
  margin-left: auto;
  color: white;
  background-color: #0075ff;
  border-radius: 5px;
  text-decoration: none;
  font-size: 15px;
  padding: 5px 10px;
}
@media (max-width: 400px) { 
  .wrapper {
    grid-template-columns: repeat(auto-fit , minmax(250px,1fr));
  }
  .welcome .text .col-2 img {
    display: none;

  }
  .content .welcome .text > img {
    left: 50%;
    transform: translateX(-50%);
  }
  .welcome .info {
    flex-direction: column;
    gap: 30px;
  }
  .content .wrapper{
    padding: 15px 10px;
  }
}

@media (min-width:400px) and (max-width:700px) {
  .wrapper {
    grid-template-columns: repeat(auto-fit , minmax(300px,1fr));
  }
  .welcome .text .col-2 img {
    display: none;

  }
  .welcome .info {
    flex-direction: column;
    gap: 30px;
  }
  .content .wrapper{
    padding: 15px 10px;
  }
  .content .welcome .text > img {
    left: 50%;
    transform: translateX(-50%);
  }
}
.content .input {
  display: block;
  width: 100%;
  border: none;
  resize: none;
  background-color:#eee ;
  border-radius: 8px;
  padding: 10px;
}
.content .input.input[type="text"] {
  margin-bottom: 20px;
}
.content .input::placeholder {
  color: #6c6c6c;
}
.col-1:not(.welcome .col-1) {
  padding: 15px 20px;
}

