* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
  user-select: none;
}
:root {
  --main-m:7.5px;
}
h3 {
  text-align: center;
  padding: 15px 0px;
}
.container {
  padding: 20px 15px;
  padding-top: 0px;
  margin: 50px;
  border-radius: 10px;
  background-color: #eee;
  min-height: 100vh;
}

.form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.tasks {
  padding-top: calc(30px + var(--main-m));
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  transition: 0.5s;

}
.tasks div:not(.wraper) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 10px 14px;
  background-color: #fafafa;
  border-radius: 5px;
  padding-left: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 57px;
}
div > .detail {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tasks div.checked {
  text-decoration: line-through;
  background-color: #d8d7d7;
  color: #555;
}
.wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
/* .tasks div > span {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
} */
@keyframes add {
  from {
    opacity: 0;
    width: 0px;
    height: 0px;
  }
  to {
    opacity: 1;
    width: 100%;
    height: 50px;
  }
}
@keyframes del {
  0% {
    padding: 10px 14px;
    opacity: 1;
    width: 100%;
    height: 50px;
  }
  100% {
    padding: 0px;
    opacity: 0;
    width: 0px;
    height: 0px;
  }
}
.tasks > div{
  margin-top: var(--main-m);
  margin-bottom: var(--main-m);
}
.text {
  font-size: clamp(13px, 3vw, 17px);
  text-wrap: balance;
}
input[type="text"] {
  font-size: clamp(13px, 3vw, 17px);
  flex: 1;
  max-width: 500px;
  outline: none;
  border: none;
  background-color: #fafafa;
  padding: 10px;
  border-radius: 5px;
}
.form button {
  outline: none;
  border: none;
  background-color: #0075ff;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
.del {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0px 5px;

  font-size: 14px;
  background-color: rgb(252, 54, 54);
}

@media (width < 550px) {
  .container {
    margin: 16px;
  }
}

.popup {
  opacity: 0;
  transition: 0.3s;
  padding: 20px 10px;
  width: clamp(200px, 60vw, 400px);
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #fafafa;
}
.popup > h1,
.popup > p {
  text-align: center;
  white-space: nowrap;
}
.popup > h1 {
  font-size: clamp(10px, 7vw, 30px);
}
.popup > p {
  font-size: clamp(10px, 4vw, 20px);
}
.popup2 {
  max-height: 70vh;
  opacity: 0;
  transition: 0.3s;
  padding: 20px 10px;
  width: clamp(200px, 80vw, 650px);
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #fafafa;
}
.popup2 > h1,
.popup2 > p {
  text-align: center;
}
.popup2 > h1 {
  font-size: clamp(10px, 7vw, 30px);
}
.popup2 > p {
  max-height: 70vh;
  background-color: #fafafa;
  font-size: clamp(13px, 3vw, 17px);
  overflow-y: auto;
}
.popupc {
  box-sizing: border-box;
  position: absolute;
  right: -7px;
  top: -7px;
  background-color: red;
  width: 20px;
  height: 20px;
  padding: 5px;
  border-radius: 50%;
  font-size: 15px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  color: white;
}
.show {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.1);
}
.task {
  position: relative;
}
@keyframes wrap {
  from {
    height: 100%;
    
  }
  to {
    
    height: 0px;
    margin-top: 0px;
    margin-bottom: 0;
  }
}
@keyframes spec {

  to {
    
    height: 0px;
    margin-bottom: 0;
  }
}

