*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}
h3 {
  text-align: center;
  padding: 15px 0px;
}
.container {
  padding: 20px 15px;
  padding-top: 0px;
  margin: 50px;
  border-radius: 10px;
  background-color: #eee;
  min-height: 100vh;
}
.form {
  display: flex;
  justify-content: center;
  gap: 10px;
  
  


}

.tasks {
  display: flex;
  overflow: hidden;
  padding: 40px 0px 0px 0px;
  flex-direction: column;
  transition: 0.3s;
}
.tasks div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 10px 14px;
  background-color: #fafafa;
  border-radius: 5px;
  padding-left: 30px;
  overflow: hidden;
  padding-right: 57px;
  
}
.tasks div.checked {
text-decoration: line-through;
background-color:#d8d7d7 ;
color: #555;
}
/* .tasks div > span {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
} */
@keyframes add {
  from{
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes del {
  0%{
    opacity: 1;
    transform: translateX(0%);
  }
  100% {

    opacity: 0;
    transform: translateX(-100%);
  }
}
.tasks div:not(:first-child) {
  margin-top: 15px;
}
.text {
  font-size: clamp(13px,3vw,17px);
  text-wrap: balance;
}
input[type = "text"]{
  font-size: clamp(13px,3vw,17px);
  flex: 1;
  max-width: 500px;
  outline: none;
  border: none;
  background-color: #fafafa;
  padding: 10px;
  border-radius: 5px;
}
.form button {
  outline: none;
  border: none;
  background-color: #0075ff;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
.del{
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0px 5px;

  font-size: 14px;
  background-color: rgb(252, 54, 54);
}

@media  (width < 550px){
  .container {
    margin: 16px;
  }
}

