body{
  min-height: 100vh;
  max-width: 100vw;
  /*overflow: hidden;
  */animation: flash  .08s 20s  infinite ;
  -webkit-animation: flash  .08s 20s  infinite ;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
::selection{
  background: transparent;
}
span{
  position: absolute;
  display: flex;
  /*visibility: hidden;
  */justify-content: center;
  align-items: center;
  text-align: center;
  animation:hiddennn 20s forwards;
  color: rgba(128, 128, 128);
  /*color: black;
  */font-size: 30px;
  opacity: .1;
  letter-spacing: 5px;
  -webkit-animation:hiddennn 20s forwards;
}
div{
  visibility: hidden;
  position: absolute;
  width: 10px;
  height: 10px;
  animation: hiddennnn 20s forwards;
  background-color: black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-animation: hiddennnn 20s forwards;
}

img{
  width: 400px;
  visibility: hidden;
  animation: hiddennnn 3s 20s linear infinite forwards;
  /*animation:rotate 1.8s 20s infinite linear forwards ;
  -webkit-animation: hiddennnn 3s 20s linear infinite forwards;
  */;
}
@keyframes flash {
  0%,100%{
    background-color: black;
  }
  50%{
    background-color: white;
  }
  
}
@keyframes rotate {
  100%{
    transform: rotate(360deg);
    visibility: visible;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

  
}
@keyframes hiddennn {

  0%{
    visibility: visible;
    
  }
  100%{
    visibility: hidden;
  }
 
  
}
@keyframes hiddennnn {

  0%{
    visibility: hidden;
    
  }
  100%{
    visibility: visible;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
 
  
}