@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');
*{
  max-width: 100vw !important;
  font-family: 'Cairo', sans-serif;
  

}
body{
  height: 100vh;
  
  max-width: 100vw;
  pointer-events: none;
  /*overflow: hidden;
  */
  animation: flash  .07s 20s  infinite ;
  -webkit-animation: flash  .07s 20s  infinite ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  
}

::selection{
  background: transparent;
  display: none;
}
#outputSpan{
  display: flex;
  align-items: center;
  height: 100vh;
  text-align: center;
  animation:hiddennn 20s forwards;
  color: rgba(128, 128, 128);
  /* color: white; */
  /*color: black;
  */font-size: 1em;
  word-break: break-word;
  max-width: 100%;
  

  opacity: .1;
  /* opacity: 1; */

  /* -webkit-animation:hiddennn 20s forwards; */
}



@keyframes flash {
  0%,100%{
    background-color: black;
  }
  50%{
    background-color: white;
  }
  
}

@keyframes hiddennn {

  0%{
    visibility: visible;
    
  }
  100%{
    visibility: hidden;
  }
 
  
}
@keyframes hiddennnn {

  0%{
    visibility: hidden;
    
  }
  100%{
    visibility: visible;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
 
  
}